@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@theme{
    --color-bg-color : #101112;
    --color-lightGold: #efd39b;
    --color-gold: #d7ae67;
    --font-sans : 'DM Sans';
    --font-mono : 'DM Mono';
    --font-display : 'Playfair Display';
}

:root{
    --font-sans : 'DM Sans';
    --font-mono : 'DM Mono';
    --font-display : 'Playfair Display';
    --color-bg-color : #101112;
    --color-lightGold: #efd39b;
    --color-gold: #d7ae67;
}

.golditalic{
    @apply text-lightGold italic;
}

.main-padding{
    @apply  px-8 pt-30
}

.navEffects{
    @apply transition-colors duration-200 hover:text-[#f4f0e8] active:border-l-2 border-l-gold 
}



body{
    background-color: #101112
}
.navbar.scrolled{
    background: rgba(16, 17, 18, 0.9);
    border-color: rgba(255,255,255,.11);
    backdrop-filter: blur(18px);
}



.upper-glow{
    position: absolute;
    width: 165vw;
    height: 165vw;
    right: -40vw;
    top: -105vw;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(239, 211, 155, 0.3) 0%,
        rgba(239, 211, 155, 0.18) 15%,
        rgba(239, 211, 155, 0.1) 30%,
        rgba(239, 211, 155, 0.05) 50%,
        transparent 100%
    );
    z-index: -2;
    filter: blur(20px); 
}

.line-deco{
    display: inline-block;
    width: 19px;
    height: 1px;
    margin-bottom: 3px;
    background: var(--color-gold);
}

.vertical-line-deco{
    display: inline-block;
    height: 30px;
    width: 1px;
    background: var(--color-gold);
}

/* sidebar */

.navLink{
    padding: 1.2rem 1.5rem;
    background: rgba(16, 17, 18, 0.97);
    backdrop-filter: blur(18px);
    font-size: 0.85rem;
    color: #cccac4;
    letter-spacing: 1px;
    display: flex;
    justify-items: center;
}

.navAfterEffect::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    height: 1px;
    background: var(--color-gold);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s;
}

.navAfterEffect.active::after {
    transform: scaleX(1)
}

.parent-nav {
    background: transparent;
    backdrop-filter: blur(0);
}

.parent-nav.open {
    animation: parentBg .01s linear forwards;
    animation-delay: 1.2s;
}

@keyframes parentBg {
    to {
        background: rgba(16, 17, 18, 0.60);
    }
}

.parent-nav > a {
    display: block;
}

.parent-nav.open > a {
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.25s ease-in-out forwards;
}


.parent-nav.open > a:nth-child(1) { animation-delay: 0s; }
.parent-nav.open > a:nth-child(2) { animation-delay: .1s; }
.parent-nav.open > a:nth-child(3) { animation-delay: .2s; }
.parent-nav.open > a:nth-child(4) { animation-delay: .3s; }
.parent-nav.open > a:nth-child(5) { animation-delay: .4s; }



@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



/* LINES */

.lines {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.chart-position {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    max-width: 100vw;
    transform: translate(-50%, -50%) rotate(0deg) ;
    transform-origin: center;
    z-index: -50;
    overflow: hidden;
    pointer-events: none;
}

.line {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;
    animation: draw 4s ease-out forwards;
}

.gray {
    stroke-width: .8;
    stroke: #555c63;
}

.red {
    stroke-width: 1.5;
    stroke: #a56b5d;
    animation-delay: .25s;
}

.gold {
    stroke-width: 2;
    stroke: #d3a85f;
    animation-delay: .5s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}


/* MOUNTAINS */

.mountains {
    position: absolute;
    bottom: -1px;
    width: 120%;
    left: -10%;
    z-index: -100;
}

.mountain-far {
    height: 48%;
    background: linear-gradient(135deg, #36414a, #161d22 70%);
    opacity: .46;
    bottom: 7%;
    filter: blur(1px);
    clip-path: polygon(0 70%, 8% 52%, 16% 63%, 24% 45%, 33% 60%, 42% 38%, 50% 55%, 59% 33%, 67% 58%, 76% 40%, 84% 62%, 92% 36%, 100% 58%, 100% 100%, 0 100%);
}

.mountain-mid {
    height: 41%;
    background: linear-gradient(140deg, #293037, #15191c 68%);
    opacity: .78;
    clip-path: polygon(0 76%, 8% 50%, 15% 62%, 25% 40%, 34% 65%, 46% 30%, 53% 49%, 60% 23%, 67% 55%, 75% 42%, 85% 17%, 92% 45%, 100% 28%, 100% 100%, 0 100%);
}

.mountain-near {
    height: 30%;
    background: linear-gradient(140deg, #16191b, #080909 83%);
    clip-path: polygon(0 58%, 7% 34%, 14% 67%, 22% 53%, 29% 72%, 39% 25%, 49% 65%, 57% 49%, 66% 77%, 74% 30%, 83% 55%, 92% 19%, 100% 54%, 100% 100%, 0 100%);
}


/* pagination */

.pagination{
    margin-left: auto;
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 0;

}
.hidden-arrow {
  display: none;
}

.pagination li{
    height: 31px;
    min-width: 31px;
}

.pagination li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 8px;
    border: 1px solid rgba(255,255,255,.11);
    background: transparent;
    color: #bdbbb4;
    font: 11px var(--font-mono);
    transition: all .2s;
    cursor: pointer;
}

.pagination li a:hover{
    border-color: var(--color-gold);
    color: var(--color-lightGold);
}

.pagination li.active a{
    background: var(--color-gold);
    color: #171510;
    border-color: var(--color-gold);
}

.pagination li.disabled a{
    opacity: .28;
    cursor: not-allowed;
}

.pagination.new{
    margin-left: 0;
}